__pycache__/
*.pyc
.venv/
*.egg-info/
build/
dist/
*.spec
.pytest_cache/
*.log
license.key

# GIS 원본 데이터 (용량 큰 파일은 git에 커밋하지 않음)
sample_data/**/*.img
sample_data/**/*.img.aux.xml
sample_data/**/*.shp
sample_data/**/*.shx
sample_data/**/*.dbf
sample_data/**/*.prj
sample_data/**/*.cpg
sample_data/**/*.qmd
# 고객사 실측 데이터 (엑셀) - 절대 커밋 금지
sample_data/**/*.xlsx
sample_data/**/*.xls


.vscode/
.idea/